<web-app>
	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>reg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>reg1</servlet-name>
		<servlet-class>reg1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg1</servlet-name>
		<url-pattern>/reg1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>likerecipe</servlet-name>
		<servlet-class>likerecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>likerecipe</servlet-name>
		<url-pattern>/likerecipe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchresult</servlet-name>
		<servlet-class>searchresult</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchresult</servlet-name>
		<url-pattern>/searchresult</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>nutri</servlet-name>
		<servlet-class>nutri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nutri</servlet-name>
		<url-pattern>/nutri</url-pattern>
	</servlet-mapping>

</web-app>